body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Zilla Slab", serif;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(228 42 186);
    padding: 20px;
    font-size: 32px;
    color: rgb(228 42 186);
}
.chamada{
    background: rgb(184,15,270);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}
p {
    font-size: 21px;
}

.caregoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 170px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid blue; 
}

.categoria h2 {
  color: rgb(228 42 186);
}
